
body{
    text-align:center;
    font-family: Ariel, sans-serif;
    background: #bcf9f0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    gap: 5px;
    justify-content: center;
    margin: 0px auto;
    margin-left: 90px;
    
}

.cell{
    width: 60px;
    height: 60px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell.empty:hover {
    background-color: #2980b9;
}

.disc {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.my-box {
  border: 1px solid black; 
  padding: 20px;
  background-color: lightgray; 
  transform: translateY(50px);
  margin-right:50px;
  margin: 10px; 
  width: 300px; 
  height: 230px;
  box-sizing: border-box; 
}

.container {
  display: flex; 

}