* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    background: url(homepage/images/part2.jpg);
    background-size: cover;
    background-position: center;
}

header {
    background-color:hsla(198, 100%, 83%, 0.571);
    color:rgb(91, 146, 249);
    padding: 1px;
    text-align: center;
    /* border: salmon solid; */
    border-radius: 5px;
}

/* Bordered form */
form {
    border: 3px solid #abb6ec4f;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #5539a1;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #6354ace1;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;

  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.3;
  }

  
  /* Add padding to containers */
  .container {
    width: 300px;
    padding: 16px;
    position: relative;
  }

 .center{
    display: block;
    margin-bottom: auto;
}

.water{
    margin-top: -140px;

}
