body{
    background-color: rgb(240, 240, 252);
}

.container{
    display:flex;
    height: 50px;
}

.link{
    background-color: #8975b4; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin:-5px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 800px;
    margin-top: 15px;
}