* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 240, 252);
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    background: url('../homepage/images/download\ \(1\).jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: hsla(198, 100%, 83%, 0.571);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

h1 {
    text-align: center;
    color: #4b3182;
}

h3 {
    text-align: center;
    color:#7054ac;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(91, 146, 249);
}

.navbar a {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: rgb(38, 64, 112);
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #7054ac;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.text{
    color:rgb(185, 167, 252);
}

.center{
    display: inline-block;
    margin-left: auto;
    padding: 30px 120px;
    
}

figure {
  display: inline-block;
  margin: 0px;
}

figcaption {
  color: rgb(65, 111, 185);
  font-size: 20px;
  font-weight: 600;
  padding: 2px;
  text-align: center;
}

.dropdown{
    display: inline-block;
}

.dropdown button{
    background-color: transparent;
    color: rgb(38, 64, 112);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display:block;
    color: rgb(38, 64, 112);
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsla(198, 100%, 83%, 0.623);
    min-width: 100px;
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: rgba(91, 170, 254, 0.395);
}

.dropdown a:hover{
    background-color: hsla(271, 76%, 53%, 0.715);
}

.water{
    margin-top: 0px;
    position: fixed;
    z-index: 1;
}

button.change{
    margin-left: auto;
    margin-right: auto;
}

button.lol{
    position: relative;
}
button{
    position: absolute;
    z-index: 2;
}

p{
    font-size: 20px;
    font-weight: 500;
    color: #5a428b;
    text-align: center;
}