* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(55, 55, 171);
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    background: url('../homepage/images/dark.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: hsla(197, 22%, 13%, 0.571);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

h1 {
    text-align: center;
    color: #6944b2;
}

h3 {
    text-align: center;
    color:#5e478c;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(64, 100, 168);
}

.navbar a {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: rgb(73, 121, 210);
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #7d5ec0;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.text{
    color:rgb(73, 121, 210);
}

.center{
    display: inline-block;
    margin-left: auto;
    padding: 30px 120px;
    
}

figure {
  display: inline-block;
  margin: 0px;
}

figcaption {
  color: rgb(78, 132, 212);
  font-size: 20px;
  font-weight: 600;
  padding: 2px;
  text-align: center;
}

.dropdown{
    display: inline-block;
}

.dropdown button{
    background-color: transparent;
    color: rgb(43, 72, 130);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display:block;
    color: rgb(73, 121, 210);
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsla(197, 20%, 30%, 0.623);
    min-width: 100px;
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: rgba(43, 80, 120, 0.395);
}

.dropdown a:hover{
    background-color: hsla(271, 68%, 46%, 0.527);
}

.water{
    margin-top: 0px;
}

.lol{
    position: relative;
}
button{
    position: absolute;
    z-index: 2;
}